@model IEnumerable<WebApplication1.Models.Medicine>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MedidineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MgMl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MedidineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MgMl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MedicineID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MedicineID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MedicineID })
        </td>
    </tr>
}

</table>
